.elements {
   max-width: 880px;

   padding-top: 50px;
   margin: 0 auto;
}

@media screen and (max-width: 1024px) {
   .elements {
      width: 90%;
   }
}

@media screen and (max-width: 425px) {
   .elements {
      width: 90%;

      padding-top: 36px;
   }
}