.authorization__form {
   max-width: 358px;
   width: 100%;

   display: flex;
   flex-direction: column;
   align-items: center;
}

@media screen and (max-width: 425px) {
   .authorization__form {
      max-width: 260px;
   }
}