.element__delete-button {
   display: none;
   width: 20px;
   height: 20px;

   position: absolute;
   top: 20px;
   right: 20px;

   background-image: url(./../../../images/delete-button.svg);
   background-repeat: no-repeat;
   background-color: transparent;
   border: none;

   transition: 0.3s;

   padding: 0;
}

.element__delete-button:hover {
   cursor: pointer;
   opacity: 0.5;
}